*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background: rgb(0, 0, 0);
}
.nav-link{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
}
.nav-link:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.navbar-brand{
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    font-weight: 800;
    cursor: pointer;
    text-decoration: none;
}
.navbar-brand:hover{
    color: rgb(255, 255, 255);
    
}
.navbar-toggler{
    border: 1px solid rgb(255, 255, 255);

}
.navbar-toggler-icon{
    color: white;
    width:20px;
    padding-top: 4px;
}

/* Home  section */
.main{
    background: url(https://www.shutterstock.com/image-vector/water-surface-magic-neon-glow-600nw-2483884465.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: rgb(215, 215, 215);
}
.main h3{
    font-size: 4.4rem;
    font-weight: 700;
}
.main h6{
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 1;
    border-bottom: 3px solid;
    width: 47%;
}

/* about section */

.about{
    background: black;
}
.about h1{
    color: rgb(246, 246, 246);
    font-size: 3rem;
    font-weight: 900;
} 
.about p{
    color: rgb(154, 154, 154);
} 
.progress{
    background-color: rgb(75, 75, 75);
    color: white;
    justify-content: flex-start;
    border-radius: 50px;
    align-items: center;
    position: relative;
    display: flex;
    height: 25px;
    width: 100%;
}
.progress p{
    color: rgb(0, 0, 0);
    padding: 5px;
}
.progress .pro-value1{
    animation: load1 3s normal forwards;
    border-radius: 50px;
    background-color: white;
    height: 25px;
    width: 0;
}
.progress .pro-value2{
    animation: load2 3s normal forwards;
    border-radius: 50px;
    background-color: white;
    height: 25px;
    width: 0;
}
.progress .pro-value3{
    animation: load3 3s normal forwards;
    border-radius: 50px;
    background-color: white;
    height: 25px;
    width: 0;
}
.progress .pro-value4{
    animation: load4 3s normal forwards;
    border-radius: 50px;
    background-color: white;
    height: 25px;
    width: 0;
}
@keyframes load1{
    0%{
        width: 0;
    }
    100%{
        width: 90%;
    }
}
@keyframes load2{
    0%{
        width: 0;
    }
    100%{
        width: 75%;
    }
}
@keyframes load3{
    0%{
        width: 0;
    }
    100%{
        width: 70%;
    }
}
@keyframes load4{
    0%{
        width: 0;
    }
    100%{
        width: 60%;
    }
}
 /* Services section   */
.Services{
    background-color: grey;
    color: rgb(0, 0, 0);
}
.card{
    background-color: rgb(71, 71, 71);
    border: none;
    outline: none;
    border-radius: 30px;
    
}
.card p{
    color: rgb(210, 210, 209);
}
.circle{
    height: 50px;
    width: 50px;
    background-color: grey;
    color: rgb(0, 0, 0);
    padding: 12px;
    font-size: 40px;
    border-radius: 50%;
    display: inline;
    margin-bottom: 20px;
    
}
.card:hover .circle{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transition: 0.6s;
}

/* Experience section  */

.Experience{
    background-color: grey;
    color: rgb(50, 50, 50);
}
.Experience h1{
    color: rgb(250, 250, 250);
    font-size: 3rem;
    font-weight: 900;
}
.Experience ul li{
    color: black;
}

/* Skill section   */
.skill{
    background-color: grey;
    color: rgb(0, 0, 0);
}
/* Contact section  */
.Contact{
    background-color: grey;
    color: rgb(0, 0, 0);
}
.circle:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transition: 0.6s;
}
.Contact .btn{
    background-color: white;
    color: black;
    outline: none;
    border: none;
    height: 40px;
    width: 140px;
    border-radius: 4px;
    margin-left: 40%;
}
.btn:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
